@mixin font {
  font-family: "HelveticaNeueCyr-light";
  font-size: 14px;
  color: #fff;
  text-transform: none;
  line-height: 1.5em;
  letter-spacing: 0.12em;
}
@mixin title {
  font-family: "HelveticaNeueCyr-roman";
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.5em;
  letter-spacing: 0.12em;
}
.footer {
  background-color: #202020;
  margin: 1000px 0px 0px 0px;
  z-index: 100;
  padding: 0px 15px 15px 0px;
}
.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 70px 0px 70px 0px;
}
.first {
}
.first__title {
  color: #fff;
  line-height: 1.2em;
  margin: -5px 0px 0px 0px;
  text-transform: uppercase;
  cursor: pointer;
}
.first__mail {
  @include font;
  margin: 20px 0px 10px 0px;
}
.first__wrapper {
  display: flex;
  align-items: center;
  img {
    width: 15px;
    height: 15px;
    margin: -9px 10px 0px 0px;
  }
}
.first__text {
  @include font;
  margin: 10px 0px 20px 0px;
}
.first__subtext {
  @include font;
  margin: 10px 0px 0px 0px;
  text-transform: none;
}

.second__title {
  @include title;
  margin: 0px 0px 20px 0px;
}
.second__arrow {
  width: 30px;
  height: 35px;
  padding: 10px 5px 5px 20px;
  border: 1px solid rgb(34, 31, 19);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease;
  &:hover {
    border: 1px solid #c5a63c;
    transition: 0.9s ease;
  }
}
.second__nav {
  @include font;
  .second__list a {
    text-transform: capitalize;
  }
  .second__list a {
    &:hover {
      color: #c5a63c;
    }
  }
}
.third {
  &__tel {
    display: flex;
    align-items: center;
    cursor: pointer;
    .third__phone img {
      width: 20px;
      margin: 0px 10px 0px 0px;
    }
  }
  &__fone:hover {
    color: #c5a63c;
  }
}
.third__title {
  @include title;
  margin: 0px 0px 20px 0px;
}
.third__text {
  @include font;
  text-transform: capitalize;
}
.forth {
}
.forth__title {
  @include title;
  margin: 0px 0px 20px 0px;
}
.forth__text {
  @include font;
  width: 180px;
}
.forth__subtitle {
  @include title;
  margin: 40px 0px 20px 0px;
}
.forth__wrapper {
  display: flex;
  justify-content: space-around;
}
.forth__img {
}
//---------------------media queries------------------------------
