@mixin ff {
   font-family: "HelveticaNeueCyr-Black";
   font-size: 24px;
   color: #1b2a1d;
   text-transform: uppercase;
   text-align: center;
   margin: 0px 0px 30px 0px;
}
@mixin fr {
   font-family: "HelveticaNeueCyr-Roman";
   font-size: 14px;
   color: #1b2a1d;
   text-transform: uppercase;
   text-align: center;
   margin: 20px auto;
}
@mixin line {
   height: 3px;
   width: 300px;
   background-color: #1b2a1d;
   margin: 30px auto;
}
@mixin width {
   width: 50%;
   margin: 0 auto;
}
.menu {
   .container {
      border: 5px solid transparent;
   }
   font-family: "HelveticaNeueCyr-Roman";
   background-color: #e1d8ce;
   margin: -50px 0px 0px 0px;
   &__title {
      text-align: center;
      color: #1b2a1d;
      padding: 200px 0px 0px 0px;
   }
   &__line {
      height: 3px;
      width: 80%;
      background-color: #1b2a1d;
      margin: 30px auto;
      margin: 100px auto;
   }
   &__wrapper {
      display: flex;
      margin: 0 auto;
      
   }
   &__bottomline {
       height: 3px;
      width: 80%;
      background-color: #1b2a1d;
      margin: 30px auto;
      margin: 80px auto;
   }
   &__vl {
    border-left: 1px solid  #1b2a1d;
    height: 280%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 250;

   }
}
.food {
   width: 100%;
}
.eat {
   width: 100%;
}
.snacks {
 margin: 0 auto;
 width: 100%;
   &__title {
      @include ff;
   }
   &__text {
      @include fr;
      span {
         display: block;
      }
   }
   &__line {
      @include line;
   }
}

.soup {
   &__title {
      @include ff;
   }
   &__text {
      @include fr;
      span {
         display: block;
      }
   }
   &__line {
      @include line;
   }
}

.ravioli {
   &__title {
      @include ff;
   }
   &__text {
      @include fr;
      span {
         display: block;
      }
   }
   &__line {
      @include line;
   }
}

.rizotto {
   &__title {
      @include ff;
   }
   &__text {
      @include fr;
      span {
         display: block;
      }
   }
   &__line {
      @include line;
   }
}

.grill {
   &__title {
      @include ff;
   }
   &__text {
      @include fr;
      span {
         display: block;
      }
   }
   &__line {
      @include line;
   }
}
.salad {
   &__title {
      @include ff;
   }
   &__text {
      @include fr;
      span {
         display: block;
      }
   }
   &__line {
      @include line;
   }
}

.salads {
   &__text {
      @include fr;
      span {
         display: block;
      }
   }
   &__line {
      @include line;
   }
}

.pasta {
   &__title {
      @include ff;
   }
   &__text {
      @include fr;
      span {
         display: block;
      }
   }
   &__line {
      @include line;
   }
}

.hamburger {
   &__title {
      @include ff;
   }
   &__text {
      @include fr;
      span {
         display: block;
      }
   }
   &__line {
      @include line;
   }
}

.child {
   &__title {
      @include ff;
   }
   &__text {
      @include fr;
      span {
         display: block;
      }
   }
   &__line {
      @include line;
   }
}

.desert {
   &__title {
      @include ff;
   }
   &__text {
      @include fr;
      span {
         display: block;
      }
   }
   &__line {
      @include line;
   }
}
